@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #8cc84c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.wrapper__heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.wrapper__body {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.wrapper__content {
  flex-shrink: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #8cc84c;
  border-radius: 10px;
  margin-left: 10px;
}

.wrapper__content i {
  margin-left: 10px;
}

.wrapper__input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  flex: 1;
}

.wrapper__del {
  border: none;
  background-color: #8cc84c;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
}
