@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

header {
  margin-top: 40px;
  margin-bottom: 50px;
}

.card {
  position: relative;
  overflow: hidden;
}

img {
  transition: transform 0.1s linear;
  display: block;
  height: 100%;
}

.card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

span {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #0de39c;
  padding: 0 5px;
  border-radius: 4px;
  text-transform: capitalize;
  padding: 10px 20px;
  z-index: 1;
}
