html,
body {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

body {
  background-image: linear-gradient(to right, #4daf54, #3d8880);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  background-color: black;
  display: flex;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s linear;
}

.search-box.open {
  width: 400px;
}

.search-box__input {
  width: 100%;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 0 80px 0 20px;
}

.search-box__bnt {
  position: absolute;
  right: 0;
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.search-box__bnt i {
  font-size: 30px;
}
